*{
    margin:0;
    padding:0;
    font-family: 'Acme', sans-serif
    }
    body{
    font-size : 12px;
    background-color : #D3D3D3;
    
    }
    ul{
    list-style:none;
    }
    li{
    float:right;
    display:inline-block;
  }
    li a {
    text-transform:uppercase;
    font-weight:bold;
    margin-right:20px;
    }
    h1{
    padding:10px;
    position:20%;}
    
    
    h2{
    font-size:40px;
    text-align:center;}
    #main-image{
    height:700px;
    width:100%;
    background:url(../img-accuiel/mer-plage.jpg) no-repeat center;
    
    }
    #main-par{
      position: relative;
      left: 12%;
      max-width: calc(100vw - 20%); 
      font-size:25px;
      margin-top:10px;
      }
    span{
     display: block;
      
      width: 50%;
      height: 1px;
      margin: 60px auto;
    }
    #main-image h2{
    font-weight:normal;
    text-transform:uppercase;
    text-align:center;
    padding:150px 0 40px 0;
    
    }
    .button1{
    display:inline-block;
    width:100px;
    height:40px;
    background:#ff7a00;
    color:white;
    font-size:20px;
    margin: 0 auto;
    line-height:50px;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
    
    }
    .button1:hover{
    background:#02b8dd;}
    
    .main.vedio{
    margin-top:100px;
    width: 90%;
    height:90%;
    
     }
    .vedio iframe{
    border:none;
    border-radius:10px;
    width :100% ;
    height:400px;
    }
    footer {
    margin-top:10px;
    background-color:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    padding:30px;
    }
